openapi: 3.1.0
info:
  title: CWMS Data Basins Version API
  description: The Corps Water Management System (CWMS) Data API provides a RESTful interface for accessing water management data from the U.S. Army Corps of Engineers. This includes time series data, locations, levels, ratings, forecasts, projects, turbines, gates, and water supply information for USACE-managed water resources across the United States.
  version: 3.0.0
  contact:
    name: USACE CWMS Data API Support
    url: https://github.com/USACE/cwms-data-api
  license:
    name: MIT
    url: https://github.com/USACE/cwms-data-api/blob/develop/LICENSE.md
  x-tags:
  - Water Management
  - Federal Government
  - Hydrology
  - Engineering
servers:
- url: https://cwms-data.usace.army.mil/cwms-data
  description: Production CWMS Data API
- url: https://water.usace.army.mil/cwms-data
  description: Water Data Platform
tags:
- name: Version
  description: API version information
paths:
  /:
    get:
      operationId: getApiRoot
      summary: Get API Root
      description: Returns a welcome message confirming the API is available.
      tags:
      - Version
      responses:
        '200':
          description: API root welcome message
          content:
            text/plain:
              schema:
                type: string
  /version:
    get:
      operationId: getVersion
      summary: Get API Version
      description: Returns the current version of the CWMS Data API.
      tags:
      - Version
      responses:
        '200':
          description: API version information
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    description: The API version string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: JWT Bearer token for authenticated operations (create, update, delete). Obtain a token from the CWMS authorization endpoint.
