openapi: 3.1.0
info:
  title: CWMS Data Basins API
  description: The Corps Water Management System (CWMS) Data API provides a RESTful interface for accessing water management data from the U.S. Army Corps of Engineers. This includes time series data, locations, levels, ratings, forecasts, projects, turbines, gates, and water supply information for USACE-managed water resources across the United States.
  version: 3.0.0
  contact:
    name: USACE CWMS Data API Support
    url: https://github.com/USACE/cwms-data-api
  license:
    name: MIT
    url: https://github.com/USACE/cwms-data-api/blob/develop/LICENSE.md
  x-tags:
  - Water Management
  - Federal Government
  - Hydrology
  - Engineering
servers:
- url: https://cwms-data.usace.army.mil/cwms-data
  description: Production CWMS Data API
- url: https://water.usace.army.mil/cwms-data
  description: Water Data Platform
tags:
- name: Basins
  description: River basin information
paths:
  /basins:
    get:
      operationId: getBasins
      summary: Get Basins
      description: Returns river basin information for USACE water management areas.
      tags:
      - Basins
      parameters:
      - name: office
        in: query
        required: false
        description: Three-character USACE district office code
        schema:
          type: string
      - name: basin-id
        in: query
        required: false
        description: Basin identifier (supports wildcards)
        schema:
          type: string
      - name: unit
        in: query
        required: false
        description: Measurement unit system (EN or SI)
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: Pagination cursor
        schema:
          type: string
      - name: page-size
        in: query
        required: false
        description: Number of results per page
        schema:
          type: integer
      responses:
        '200':
          description: Basin data
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: JWT Bearer token for authenticated operations (create, update, delete). Obtain a token from the CWMS authorization endpoint.
